/*-----Tag-Selectors-----*/

body{
    background-color: #cbf1f5;
    margin: 0;
    text-align: center;
}
h1{
    width: 30%;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px; 
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;

}

hr{
    background-color: none;
    border-style: none;
    border-top: 8px dotted lightgray;
    height: 5px;
    width: 5%;
    margin-top: 70px;
    margin-bottom: 70px;
}
p{

    margin: 10px auto;
    font-family: 'Merriweather', serif;
}

/*-----Class-Selectors-----*/

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 0px;
}
.footer{
    position: relative;
}
.footer-cloud{
    position: absolute;
    right: 300px;
}
.kite{
    position: absolute;
    left: 350px;
    bottom: 240px;
}
.mountain{
    position: relative;
    bottom: 0px;
}
.profile-pic{
    margin-bottom: 100px;
}
.title-container {
    padding-top: 100px;
    position: relative;
    margin-bottom: 100px;;

}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.italic{
    text-decoration: underline;
}

#firstSkillRow {
    margin-bottom: 50px;
}