<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class='box' id='heading'>
        <h1><%= tDay %></h1>
    </div>

    <div class="box" id='heading-3'>
        <% if (tKind === 'weekend') { %>
            <h2>my weekend todo list:</h2>
        <% } else { %>
            <h2>my weeekday todo list:</h2>
        <% } %>
    </div>



    <div class="box" id="todo">

        <% for (let i = 0; i < listItems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= listItems[i] %></p>
            </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="new item" autocomplete="off">
            <button type="submit">+</button>
        </form>
        
    </div>
    


    
    
</body>
</html>