<%- include("partials/header") -%>

    <section id="about-body" class="main">

        <div class="container-fluid main-box">
            <h1>About Us</h1>
            <p><%= aboutContent %></p>
        </div>

    </section>

<%- include("partials/footer") -%>