<%- include("partials/header") -%>

<section id="contact-body" class="main">

    <div class="container-fluid main-box">
        <h1>Contact</h1>
        <p> <%= contactContent %> </p>
    </div>

</section>

<%- include("partials/footer") -%>