<%- include("partials/header") -%>

    <section id="post-body" class="main">

        <div class="container-fluid main-box">
            <h2><%= title %></h2>
            <p> <%= post %></p>
        </div>

    </section>

<%- include("partials/footer") -%>