
.navbar {
    background-color: #e4f9f5;
    padding: 2% 10% 3% 10%;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.main-box {
    padding: 0% 10%;
    margin: 2% 0%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
